[user]
	name = Cris-Mur
	email = yomy98@gmail.com
[core]
	editor = vim
[pull]
	rebase = false
[status-tree]
	indent = 4
[alias]
	tree = !sh -c \"/home/crismur/.local/share/gem/ruby/3.2.0/gems/git-status-tree-2.0.0/bin/git-status-tree\"
